.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background {
  background-color: #c9d0e0;
  height: 100vh;
}

.show-mode {
  right: 60px;
  /* transition: 1s; */
}

.hide-mode {
  right: -180px;
  /* transition: 1s; */
}

@font-face {
  font-family: "DalseoHealingBold";
  src: url("./assets/fonts/DalseoHealingBold.ttf")
}

@font-face {
  font-family: "DalseoHealingMedium";
  src: url("./assets/fonts/DalseoHealingMedium.ttf")
}

@font-face {
  font-family: "EFDiary";
  src: url("./assets/fonts/EF_Diary.ttf")
}


@font-face {
  font-family: "ONEMobilePOP";
  src: url("./assets/fonts/ONE\ Mobile\ POP.ttf")
}

@font-face {
  font-family: "ONEMobileTitle";
  src: url("./assets/fonts/ONE\ Mobile\ Title.ttf")
}
@font-face {
  font-family: "SUIT-Heavy";
  src: url("./assets/fonts/SUIT-Heavy.ttf")
}

@font-face {
  font-family: "SUIT-Light";
  src: url("./assets/fonts/SUIT-Light.ttf")
}

@font-face {
  font-family: "CookieRunRegular";
  src: url("./assets/fonts/CookieRun\ Regular.ttf")
}

@font-face {
  font-family: "KyoboHandwriting";
  src: url("./assets/fonts/Kyobo\ Handwriting\ 2019.ttf")
}
